<div class="col-md-10 mx-auto">
  <!--Carousel Wrapper-->
  <div id="slides" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#slides" data-slide-to="0" class="active"></li>
      <li data-target="#slides" data-slide-to="1"></li>
      <li data-target="#slides" data-slide-to="2"></li>
      <li data-target="#slides" data-slide-to="3"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" [src]="taj" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="">About us</h3>
          <p>As the part of 3rd semister project we created an travel tourism and hospitality bussiness system.
            we named the project as Holiday Road.Holiday Road was specifically designed as tour operators and a travel agency.
            as the part of it the user can login to our website throught username ans passsword as credentials.
             The user can see our destinations which are provides by our website.The user can clarify there problems or douts regarding to our website through contack us page or throught the chatbot which we proided to our website. The user can know our website details throught about us page.as per the destinataions which are provided by our website he can book their tickets.our website is providing online banking through the user can pay the amount.The user can singup to online websites like google+,facebook and instagram.our website is providing the packages with min cost which can common people can travel.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" [src]="sea1" alt="Second slide">
          <div class="mask rgba-black-strong"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="">Impact of Tourism</h3>
          <p>The Tours and Travel Management System is a web based application.
            The main purpose of Tours and Travels management system is to provide a convenient way for a customer to book hotels,flight,trains or any other vehicles for tour purposes.
            In this project,we will make an easier task of searching places and for booking train,flight or bus.
            We provide approach skills to critically examine how a tourist visits and its ability to operate in an appropriate way.The project Travel and tourism management system is developed to replace the currently existing system,which helps in keeping records of the customer details of destination as well as payment received.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" [src]="Travel" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="">About our Website</h3>
          <p>This application is to develop and provide best travelling services to the customers and travel agents. We have developed tours and travel management system to provide a search platform where a tourist can find their tour places according to their choices. This system also helps to promote responsible and interesting tourism so that people can enjoy their holidays at their favorable places. This system also helps to develop tourism with different cultures so that they enrich the tourism experience and build pride. We develop this system to create and promote forms of tourism that provide healthy interaction opportunities for tourists and locals and increase better understanding of different cultures, customs, lifestyles, traditional knowledge and believes. This system also provide a better way to connect with various events.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img class="d-block w-100" [src]="Tourism" alt="fourth slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="">Advantages</h3>
          <p>Tourism boosts our economy, employs thousands of people, enriches our businesses and pays for important public services, such as education and law enforcement. Tourism works for each of us, every day. Tourism funds operating expenses and infrastructure in our local public education system.</p>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
</div>
